@import'public.scss';
#todos{
	width:554px;
	height:500px;	
	margin:100px auto;
	background:yellow;
	header{
		height:40px;
		background:#313131;
		.title{
			float:left;
			padding:0 11px;
			color:#fff;
			fonty-size:20px;
			line-height:40px;
		}
		.txt{
			display:block;
			float:right;
			width:320px;
			height:23px;
			text-indent:11px;
			border:0;
			background:#fff;
			border-radius:3px;
			margin:6px 11px;
			
		}
	}
	main{
		height:500px;
		background:#cdcdcd;		
		.Ing,.finsh{	
			overflow:hidden;
			position:relative;
			h3{			
				font-size:20px;
				line-height:62px;
				text-indent:15px;				
			}			
			.num1{
				position:absolute;
				top:22px;
				right:15px;
				text-align:center;
				width:18px;
				height:18px;
				background:#e6e6fb;
				border-radius:9px;
			}
		}
		.add{
			display:none;
			width:512px;
			height:27px;
			margin:0 auto;
			background:#fff;
			border-radius:3px;
			
			i{
				float:left;
				display:inline-block;
				width:5px;
				height:27px;
				background:#609a9d;
				
				
			}
			input{	
				float:left;
				margin:8px 11px;
				
			}
			span{
				float:left;
				font-size:14px;
				line-height:27px;
				
				
			}
			b{
				display:block;
				float:right;
				margin:5px 15px;				
				width:18px;
				height:18px;
				border-radius:9px;
				background:#ccc;
				text-align:center;
				
				
			}
			
		}
		
	}
	
}